In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Cardiac_Outcomes.xlsx')
print(df)

      inpatient_number DestinationDischarge admission_ward admission_way  \
0               857781                 Home     Cardiology  NonEmergency
1               743087                 Home     Cardiology  NonEmergency
2               866418                 Home     Cardiology  NonEmergency
3               775928                 Home     Cardiology     Emergency
4               810128                 Home     Cardiology  NonEmergency
...                ...                  ...            ...           ...
2003            740689   HealthcareFacility    GeneralWard     Emergency
2004            734280   HealthcareFacility    GeneralWard     Emergency
2005            781004   HealthcareFacility     Cardiology     Emergency
2006            744870              Unknown     Cardiology  NonEmergency
2007            791864                 Home     Cardiology     Emergency

     discharge_department  visit_times respiratory_support oxygen_inhalation  \
0              Cardiology            1                 NaN     OxygenTherapy
1              Cardiology            1                 NaN     OxygenTherapy
2              Cardiology            2                 NaN     OxygenTherapy
3              Cardiology            1                 NaN     OxygenTherapy
4              Cardiology            1                 NaN     OxygenTherapy
...                   ...          ...                 ...               ...
2003          GeneralWard            1                 NaN     OxygenTherapy
2004          GeneralWard            1                 NaN     OxygenTherapy
2005           Cardiology            1                 NaN     OxygenTherapy
2006           Cardiology            1                 IMV     OxygenTherapy
2007           Cardiology            1                 NaN     OxygenTherapy

      dischargeDay Admission_date  ... death_within_28_days  \
0               11     2017-01-24  ...                    0
1                8     2017-05-05  ...                    0
2                5     2016-11-18  ...                    0
3               11     2017-10-02  ...                    0
4                5     2019-11-17  ...                    0
...            ...            ...  ...                  ...
2003             5     2016-02-07  ...                    0
2004             8     2017-03-29  ...                    0
2005            14     2018-01-22  ...                    0
2006             1     2019-11-27  ...                    1
2007             6     2017-02-17  ...                    0

      re_admission_within_28_days  death_within_3_months  \
0                               0                      0
1                               0                      0
2                               0                      0
3                               1                      0
4                               0                      0
...                           ...                    ...
2003                            0                      0
2004                            0                      0
2005                            0                      0
2006                            0                      1
2007                            0                      0

      re_admission_within_3_months  death_within_6_months  \
0                                0                      0
1                                0                      0
2                                0                      0
3                                1                      0
4                                0                      0
...                            ...                    ...
2003                             0                      0
2004                             0                      0
2005                             1                      0
2006                             0                      1
2007                             0                      0

      re_admission_within_6_months  time_of_death__days_from_admission  \
0                                0                                 NaN
1                                0                                 NaN
2                                0                                 NaN
3                                1                                 NaN
4                                0                                 NaN
...                            ...                                 ...
2003                             0                                 NaN
2004                             0                                 NaN
2005                             1                                 NaN
2006                             0                                 1.0
2007                             0                                 NaN

      readmission_time_days_from_admission  \
0                                      NaN
1                                      NaN
2                                      NaN
3                                     19.0
4                                      NaN
...                                    ...
2003                                   NaN
2004                                   NaN
2005                                  76.0
2006                                   NaN
2007                                   NaN

      return_to_emergency_department_within_6_months  \
0                                                0.0
1                                                0.0
2                                                0.0
3                                                1.0
4                                                0.0
...                                              ...
2003                                             0.0
2004                                             0.0
2005                                             1.0
2006                                             0.0
2007                                             0.0

      time_to_emergency_department_within_6_months
0                                              NaN
1                                              NaN
2                                              NaN
3                                             19.0
4                                              NaN
...                                            ...
2003                                           NaN
2004                                           NaN
2005                                          76.0
2006                                           NaN
2007                                           NaN

[2008 rows x 21 columns]

In [3]:
unique_admission=df['admission_ward'].unique()
print(unique_admission)

['Cardiology' 'GeneralWard' 'ICU' 'Others']

In [4]:
ward_visits=df.groupby('admission_ward')['visit_times'].count()
print(ward_visits)

admission_ward
Cardiology     1547
GeneralWard     265
ICU              15
Others          181
Name: visit_times, dtype: int64

In [9]:
maxvisits=ward_visits.idxmax()
print('{0} has maximum number of visits scheduled'.format(maxvisits))

Cardiology has maximum number of visits scheduled

In [11]:
maxvisitscount=ward_visits[maxvisits]
print(maxvisitscount)

1547