In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Demography')

In [7]:
#73	Which patient in the youngest age category weighs the most?

def extract_age_range(age_range):
    # Assuming age ranges are formatted like "69-70"
    start, end = map(int, age_range.split('-'))
    return start, end

# Apply the function to the 'ageCat' column to extract start and end ages
cleaned_df[['ageStart', 'ageEnd']] = cleaned_df['ageCat'].apply(lambda x: pd.Series(extract_age_range(x)))
print(cleaned_df[['ageStart', 'ageEnd']])

      ageStart  ageEnd
0           69      79
1           69      79
2           59      69
3           69      79
4           69      79
...        ...     ...
2003        79      89
2004        79      89
2005        39      49
2006        49      59
2007        79      89

[2008 rows x 2 columns]

In [8]:
# Sort the DataFrame by ageStart in ascending order, ageEnd in descending order, and weight in descending order
sorted_df = cleaned_df.sort_values(by=['ageStart', 'ageEnd', 'weight'], ascending=[True, False, False])
print(sorted_df)
# Get the row with the youngest age category and the highest weight
youngest_highest_weight = sorted_df.groupby('ageCat').first().reset_index()
print(youngest_highest_weight)

      inpatient_number  gender  weight  height        BMI     occupation  \
1092            831184  Female    82.5    1.62  31.435757  UrbanResident
271             836026  Female    78.0    1.60  30.468750  UrbanResident
1337            772987  Female    46.5    1.58  18.626823  UrbanResident
1866            729068    Male    46.0    1.55  19.146722  UrbanResident
1697            832159    Male    92.0    1.76  29.700413  UrbanResident
...                ...     ...     ...     ...        ...            ...
194             865824  Female    35.0    1.50  15.555556  UrbanResident
574             726930  Female    35.0    1.55  14.568158  UrbanResident
1676            798084  Female    33.0    1.45  15.695600  UrbanResident
1743            829141  Female    31.0    1.45  14.744352  UrbanResident
663             797417  Female    30.0    1.45  14.268728  UrbanResident

      ageCat  ageStart  ageEnd
1092   21-29        21      29
271    21-29        21      29
1337   21-29        21      29
1866   21-29        21      29
1697   29-39        29      39
...      ...       ...     ...
194   89-110        89     110
574   89-110        89     110
1676  89-110        89     110
1743  89-110        89     110
663   89-110        89     110

[2008 rows x 9 columns]
   ageCat  inpatient_number  gender  weight  height        BMI     occupation  \
0   21-29            831184  Female    82.5    1.62  31.435757  UrbanResident
1   29-39            832159    Male    92.0    1.76  29.700413  UrbanResident
2   39-49            818210    Male    85.0    1.70  29.411765  UrbanResident
3   49-59            803906    Male    95.0    1.72  32.111952  UrbanResident
4   59-69            821768    Male   115.0    1.75  37.551020  UrbanResident
5   69-79            750702    Male    96.0    1.68  34.013605  UrbanResident
6   79-89            842939    Male    90.0    1.64  33.462225  UrbanResident
7  89-110            744861    Male    84.0    1.68  29.761905  UrbanResident

   ageStart  ageEnd
0        21      29
1        29      39
2        39      49
3        49      59
4        59      69
5        69      79
6        79      89
7        89     110

In [12]:
# Extract patient information from the result
youngest_patient_highest_weight = youngest_highest_weight[['ageCat', 'weight']]

print(youngest_patient_highest_weight.iloc[0])

ageCat    21-29
weight     82.5
Name: 0, dtype: object

In [13]:
#74	Which adm ward had the lowest rate of Outcome Death?

df = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Hospitalization_Discharge')

deaths = df[df['outcome_during_hospitalization'] == 'Dead']

print(deaths)

      inpatient_number DestinationDischarge admission_ward admission_way  \
89              773090                 Died     Cardiology  NonEmergency
147             863531                 Died            ICU     Emergency
470             811749                 Died     Cardiology  NonEmergency
483             849274                 Died     Cardiology  NonEmergency
983             869467                 Died     Cardiology     Emergency
1058            834443                 Home    GeneralWard     Emergency
1207            854580                 Died     Cardiology     Emergency
1252            765343                 Died     Cardiology     Emergency
1391            828678              Unknown         Others     Emergency
1872            805475                 Died     Cardiology     Emergency
1997            750447                 Died     Cardiology  NonEmergency

     discharge_department  visit_times respiratory_support oxygen_inhalation  \
89                    ICU            1                 NaN     OxygenTherapy
147                   ICU            1                 NaN     OxygenTherapy
470            Cardiology            2                 NaN     OxygenTherapy
483            Cardiology            1                 NaN     OxygenTherapy
983            Cardiology            1                 NaN     OxygenTherapy
1058          GeneralWard            3                 NaN     OxygenTherapy
1207           Cardiology            1                 IMV     OxygenTherapy
1252           Cardiology            1                 IMV     OxygenTherapy
1391           Cardiology            1                 IMV     OxygenTherapy
1872           Cardiology            1                 NaN     OxygenTherapy
1997           Cardiology            1                 IMV     OxygenTherapy

      dischargeDay Admission_date  ... death_within_28_days  \
89              26     2017-01-17  ...                    1
147             18     2018-05-26  ...                    1
470             62     2017-01-24  ...                    0
483              5     2018-01-21  ...                    1
983              1     2016-05-11  ...                    1
1058            17     2017-12-19  ...                    1
1207             8     2016-03-06  ...                    1
1252             2     2017-08-03  ...                    1
1391             3     2018-11-10  ...                    1
1872             9     2016-04-08  ...                    1
1997            29     2019-07-01  ...                    0

      re_admission_within_28_days  death_within_3_months  \
89                              0                      1
147                             0                      1
470                             0                      1
483                             0                      1
983                             0                      1
1058                            0                      1
1207                            0                      1
1252                            0                      1
1391                            0                      1
1872                            0                      1
1997                            0                      1

      re_admission_within_3_months  death_within_6_months  \
89                               0                      1
147                              0                      1
470                              0                      1
483                              0                      1
983                              0                      1
1058                             0                      1
1207                             0                      1
1252                             0                      1
1391                             0                      1
1872                             0                      1
1997                             0                      1

      re_admission_within_6_months  time_of_death__days_from_admission  \
89                               0                                26.0
147                              0                                18.0
470                              0                                62.0
483                              0                                 5.0
983                              0                                 2.0
1058                             0                                17.0
1207                             0                                 8.0
1252                             0                                 2.0
1391                             0                                 3.0
1872                             0                                 9.0
1997                             0                                29.0

      readmission_time_days_from_admission  \
89                                     NaN
147                                    NaN
470                                    NaN
483                                    NaN
983                                    NaN
1058                                   NaN
1207                                   NaN
1252                                   NaN
1391                                   NaN
1872                                   NaN
1997                                   NaN

      return_to_emergency_department_within_6_months  \
89                                               0.0
147                                              0.0
470                                              0.0
483                                              0.0
983                                              0.0
1058                                             0.0
1207                                             0.0
1252                                             0.0
1391                                             0.0
1872                                             0.0
1997                                             0.0

      time_to_emergency_department_within_6_months
89                                             NaN
147                                            NaN
470                                            NaN
483                                            NaN
983                                            NaN
1058                                           NaN
1207                                           NaN
1252                                         206.0
1391                                           NaN
1872                                           NaN
1997                                           NaN

[11 rows x 21 columns]

In [14]:
deaths_by_ward = deaths['admission_ward'].value_counts()
print(deaths_by_ward)

admission_ward
Cardiology     8
ICU            1
GeneralWard    1
Others         1
Name: count, dtype: int64

In [15]:
lowest_death_count_ward = deaths_by_ward.idxmin()
print("Admission ward with the lowest count of Outcome Death:", lowest_death_count_ward)

Admission ward with the lowest count of Outcome Death: ICU

In [16]:
df_hospitalization_discharge = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Hospitalization_Discharge')

df_cardiac_complications = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='CardiacComplications')

deaths = df_hospitalization_discharge[df_hospitalization_discharge['outcome_during_hospitalization'] == 'Dead']

print(deaths)

      inpatient_number DestinationDischarge admission_ward admission_way  \
89              773090                 Died     Cardiology  NonEmergency
147             863531                 Died            ICU     Emergency
470             811749                 Died     Cardiology  NonEmergency
483             849274                 Died     Cardiology  NonEmergency
983             869467                 Died     Cardiology     Emergency
1058            834443                 Home    GeneralWard     Emergency
1207            854580                 Died     Cardiology     Emergency
1252            765343                 Died     Cardiology     Emergency
1391            828678              Unknown         Others     Emergency
1872            805475                 Died     Cardiology     Emergency
1997            750447                 Died     Cardiology  NonEmergency

     discharge_department  visit_times respiratory_support oxygen_inhalation  \
89                    ICU            1                 NaN     OxygenTherapy
147                   ICU            1                 NaN     OxygenTherapy
470            Cardiology            2                 NaN     OxygenTherapy
483            Cardiology            1                 NaN     OxygenTherapy
983            Cardiology            1                 NaN     OxygenTherapy
1058          GeneralWard            3                 NaN     OxygenTherapy
1207           Cardiology            1                 IMV     OxygenTherapy
1252           Cardiology            1                 IMV     OxygenTherapy
1391           Cardiology            1                 IMV     OxygenTherapy
1872           Cardiology            1                 NaN     OxygenTherapy
1997           Cardiology            1                 IMV     OxygenTherapy

      dischargeDay Admission_date  ... death_within_28_days  \
89              26     2017-01-17  ...                    1
147             18     2018-05-26  ...                    1
470             62     2017-01-24  ...                    0
483              5     2018-01-21  ...                    1
983              1     2016-05-11  ...                    1
1058            17     2017-12-19  ...                    1
1207             8     2016-03-06  ...                    1
1252             2     2017-08-03  ...                    1
1391             3     2018-11-10  ...                    1
1872             9     2016-04-08  ...                    1
1997            29     2019-07-01  ...                    0

      re_admission_within_28_days  death_within_3_months  \
89                              0                      1
147                             0                      1
470                             0                      1
483                             0                      1
983                             0                      1
1058                            0                      1
1207                            0                      1
1252                            0                      1
1391                            0                      1
1872                            0                      1
1997                            0                      1

      re_admission_within_3_months  death_within_6_months  \
89                               0                      1
147                              0                      1
470                              0                      1
483                              0                      1
983                              0                      1
1058                             0                      1
1207                             0                      1
1252                             0                      1
1391                             0                      1
1872                             0                      1
1997                             0                      1

      re_admission_within_6_months  time_of_death__days_from_admission  \
89                               0                                26.0
147                              0                                18.0
470                              0                                62.0
483                              0                                 5.0
983                              0                                 2.0
1058                             0                                17.0
1207                             0                                 8.0
1252                             0                                 2.0
1391                             0                                 3.0
1872                             0                                 9.0
1997                             0                                29.0

      readmission_time_days_from_admission  \
89                                     NaN
147                                    NaN
470                                    NaN
483                                    NaN
983                                    NaN
1058                                   NaN
1207                                   NaN
1252                                   NaN
1391                                   NaN
1872                                   NaN
1997                                   NaN

      return_to_emergency_department_within_6_months  \
89                                               0.0
147                                              0.0
470                                              0.0
483                                              0.0
983                                              0.0
1058                                             0.0
1207                                             0.0
1252                                             0.0
1391                                             0.0
1872                                             0.0
1997                                             0.0

      time_to_emergency_department_within_6_months
89                                             NaN
147                                            NaN
470                                            NaN
483                                            NaN
983                                            NaN
1058                                           NaN
1207                                           NaN
1252                                         206.0
1391                                           NaN
1872                                           NaN
1997                                           NaN

[11 rows x 21 columns]

In [18]:
death_patient_ids = deaths['inpatient_number']

myocardial_infarction_patients = df_cardiac_complications[df_cardiac_complications['myocardial_infarction'] == 1]
print(myocardial_infarction_patients)

      inpatient_number  NYHA_cardiac_function_classification  Killip_grade  \
9               829801                                     3             1
10              807741                                     3             2
20              764082                                     3             2
60              793939                                     4             4
61              864312                                     3             2
...                ...                                   ...           ...
1958            794904                                     4             3
1973            792460                                     3             2
1977            732617                                     4             2
1980            797397                                     4             1
1983            852097                                     4             3

      myocardial_infarction  congestive_heart_failure  \
9                         1                         0
10                        1                         0
20                        1                         1
60                        1                         0
61                        1                         1
...                     ...                       ...
1958                      1                         1
1973                      1                         1
1977                      1                         1
1980                      1                         1
1983                      1                         1

      peripheral_vascular_disease type_of_heart_failure  LVEF  \
9                               0                  Both   NaN
10                              0                  Both   NaN
20                              0                  Both   NaN
60                              0                  Both   NaN
61                              0                  Both   NaN
...                           ...                   ...   ...
1958                            0                  Left   NaN
1973                            0                  Both  44.0
1977                            1                  Both  35.0
1980                            0                  Both  74.0
1983                            0                  Left  39.0

      left_ventricular_end_diastolic_diameter_LV  mitral_valve_EMS  \
9                                           42.0              1.28
10                                           NaN               NaN
20                                           NaN               NaN
60                                           NaN              0.69
61                                          35.0               NaN
...                                          ...               ...
1958                                        50.0               NaN
1973                                        53.0              1.01
1977                                        65.0               NaN
1980                                         NaN              1.07
1983                                        53.0               NaN

      mitral_valve_AMS      EA  tricuspid_valve_return_velocity  \
9                 0.06  21.300                             2.70
10                 NaN     NaN                             2.66
20                 NaN     NaN                              NaN
60                0.97     NaN                              NaN
61                 NaN     NaN                              NaN
...                ...     ...                              ...
1958               NaN     NaN                              NaN
1973               NaN     NaN                              NaN
1977               NaN     NaN                              NaN
1980              0.37   2.892                              NaN
1983               NaN     NaN                              NaN

      tricuspid_valve_return_pressure
9                                30.0
10                               28.0
20                                NaN
60                                NaN
61                                NaN
...                               ...
1958                              NaN
1973                              NaN
1977                              NaN
1980                              NaN
1983                              NaN

[143 rows x 14 columns]

In [20]:
deaths_with_myocardial_infarction = death_patient_ids.isin(myocardial_infarction_patients['inpatient_number']).sum()

percentage_deaths_with_myocardial_infarction = (deaths_with_myocardial_infarction / len(death_patient_ids)) * 100

print("Percentage of patients with an outcome of death who had myocardial infarction:", round(percentage_deaths_with_myocardial_infarction,2))

Percentage of patients with an outcome of death who had myocardial infarction: 9.09